.panda-card{
    border: 0;
}

.panda-card-footer{
    background-color: white;
    border:none;
}

.categories img{
    width:100px;
}

.categories .col{
    margin-bottom: 20px;
}

.panda-slide{
    background-color: #fceae8;
    border-radius: .8em;
}